#AboutMe {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./img/bg03.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  /* box-shadow: inset 0 0 20px #000000; */
  box-shadow: inset 0 -75px 40px -10px rgb(10, 25, 47);
}

.about-me-info {
  margin-top: 20vh;
  float: left;
  background: rgba(255, 255, 255, 0.2);
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 40px;
  padding-left: 15vw;
}

.about-me-info-h1,
.about-me-info-p {
  color: white;
  width: fit-content;
  letter-spacing: 0.5vw;
}

.about-me-info-h1 {
  font-size: 4.5em;
}

.about-me-info-p {
  font-size: 1.5em;
  margin-left: 75px;
}
