.ContactFormPage {
  padding-top: 7em;
  padding-bottom: 5em;
  text-align: left;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./img/bg02-flipped.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: top;
  box-shadow: inset 0 75px 40px -10px rgb(10, 25, 47);
  position: relative;
}

.contact-form-div {
  margin-top: 1.5em;
  padding-left: 15em;
  padding-right: 15em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: rgba(255, 255, 255, 0.2);
}

.contact-form-title {
  color: #925657;
  text-align: left;
  font-size: 1.7em;
  font-weight: 1000;
  letter-spacing: 3px;
  margin-left: 10em;
}

.name-email-div {
  margin-bottom: 1.1em;
}

#full-name {
  width: 90%;
  margin-top: 5px;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
}

#email {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
}

#message {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
}

.submit-btn {
  margin-top: 1.1em;
  background-color: transparent;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.message-label-txt * {
  vertical-align: middle;
}

.success-msg {
  color: #57a773;
  padding: 10px 15px;
}

.err-msg {
  color: #ee6352;
  padding: 10px 15px;
}

.rights-txt {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
