.ProjectItem {
  width: 600px;
  display: flex;
  background-color: rgb(23, 42, 69);
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  border-radius: 5px;
}

.thumbnail {
  width: 40%;
  order: 2;
}

.project-info {
  order: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}

.project-title {
  color: rgb(168, 178, 209) !important;
}

.project-desc {
  color: rgb(168, 178, 209) !important;
}

body {
  background-color: rgb(10, 25, 47);
}
