.ProjectItem {
  width: 600px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 42, 69);
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  border-radius: 5px;
  margin: 20px;
  filter: grayscale(30%);
  transition: 0.05s;
}

.ProjectItem:hover {
  filter: none;
  box-shadow: 0px 0px 10px 5px rgba(2, 12, 27, 0.7);
}

.thumbnail {
  width: 40%;
  order: 2;
}

.project-info {
  order: 1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}

.project-title {
  color: rgb(168, 178, 209) !important;
}

.project-desc {
  color: rgb(168, 178, 209) !important;
}

body {
  background-color: rgb(10, 25, 47);
}
